:root {
  font-family: Poppins;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.aspect-ratio-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
}

.image-size {
  position: relative;
  padding-bottom: 50%;
  margin-bottom: -20%;
  margin-top: 0%;
  /* 16:9 */
}

.image-size img {
  position: absolute;
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.image-size-view {
  position: relative;
  padding-bottom: 50%;
  margin-bottom: -25%;
  /* 16:9 */
}

.image-size-view img {
  position: absolute;
  width: 50%;
  height: 50%;
  object-fit: cover;
}



.aspect-ratio-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}